<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Page</title>
    <link rel="stylesheet" href="/css/frame1.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <!-- ------header --------- -->
    <header>
      <div class="left">
        <img id="logo" src="/frame1/Logo.svg" alt="none" />
      </div>
      <div class="right">
        <ul>
          <li><a href="#home">Home</a></li>
          <li>
            <a href="#about">Landings <i class="bi bi-chevron-down"></i></a>
          </li>
          <li>
            <a href="#services">Pages <i class="bi bi-chevron-down"></i></a>
          </li>
          <li><a href="#policy">Docs</a></li>
          <li><a href="#contact">Help</a></li>
          <li><button class="btn">Get it now</button></li>
        </ul>
      </div>
    </header>

    <!-- ------section 2-------- -->

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col">
            <img id="hero" src="/frame1/Hero.png" alt="" />
          </div>
          <div class="col col2">
            <h1>
              Make your new life <br />
              happier.
            </h1>
            <p>
              We work with several leading insurance companies to <br />
              secure insurance coverages tailored to meet your needs.
            </p>
            <button id="getbtn">Get a Consultation</button>
          </div>
        </div>
      </div>
    </section>

    <!-- -----section 3----- -->

    <section class="section3">
      <div class="container3">
        <div class="uppar-content">
          <p class="grn">OUR SERVICES</p>
          <h2>Insurance made simple for you</h2>
          <p class="para">
            We work with several leading insurance companies to secure insurance
          </p>
          <p class="para">coverages tailored to meet your needs.</p>
        </div>
        <div class="middle-content">
          <div class="txt">
            <span class="mark">&#x2713;</span> Flexible products to make your
            life easier
          </div>
          <div class="txt">
            <span class="mark">&#x2713;</span> Highest standards of services
          </div>
          <div class="txt">
            <span class="mark">&#x2713;</span> Fast and reliable service
          </div>
        </div>
        <div class="row3">
          <div class="col3">
            <div class="icon">
              <img class="icon-img" src="/frame1/Icon_Home.svg" alt="" />
            </div>
            <div class="col-content">
              <h4>Home insurance</h4>
              <p class="p-content">
                Home insurance is a type of insurance policy that provides cover
                for your home.
              </p>
            </div>
            <div>
              <h6>Learn more &#8594;</h6>
            </div>
          </div>

          <div class="col3">
            <div class="icon">
              <img
                class="icon-img"
                src="/frame1/Icon_Blood_Donation.svg"
                alt=""
              />
            </div>
            <div class="col-content">
              <h4>Life insurance</h4>
              <p class="p-content">
                Helping you bridge gaps in your health care coverage during
                times of transition.
              </p>
            </div>
            <div>
              <h6>Learn more &#8594;</h6>
            </div>
          </div>

          <div class="col3">
            <div class="icon">
              <img class="icon-img" src="/frame1/Icon_Car.svg" alt="" />
            </div>
            <div class="col-content">
              <h4>Car insurance</h4>
              <p class="p-content">
                Car insurance is a type of insurance policy that provides cover
                for your car.
              </p>
            </div>
            <div>
              <h6>Learn more &#8594;</h6>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ------section 4----- -->

    <section class="section4">
      <div class="container4">
        <!-- div-top -->
        <div class="top">
          <p class="grn">OUR TIPS FOR YOU</p>
          <h2>Reinventing your protection</h2>
          <p class="para">
            We share common trends, strategies ideas, opinions, short & long
          </p>
          <p class="para">stories from the team behind company.</p>
        </div>
        <!-- div--end -->
        <div class="row4">
          <div class="col4 img41">
            <!-- <img class="image" src="frame/Image.png" alt="none" /> -->
            <p class="con-over">
              How to prevent and protect your family from Carbon monoxide
            </p>
          </div>
          <div class="col4 img42">
            <!-- <img class="image" src="frame//Image2.png" alt="" /> -->
            <p class="con-over">
              Motherhood is the hardest and the best job ever
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ------section 5----- -->
    <section class="section5">
      <div class="container5">
        <div class="row5">
          <div class="col5">
            <p class="grn">YOUR BENEFITS</p>
            <h3>We're your right insurance advocate</h3>
          </div>
          <div class="col5">
            <div class="icon5">
              <img
                class="icon5-img"
                src="/frame1/Icon_Blood_Donation.svg"
                alt=""
              />
            </div>
            <div class="content5">
              <h5>We have the best prices</h5>
              <p class="para-content5">
                Our insurance plans offers are priced the same everywhere
                else.We just make them easier for you to find.
              </p>
            </div>
          </div>
          <div class="col5">
            <div class="icon5">
              <img class="icon5-img" src="/frame1/Icon_Protection.svg" alt="" />
            </div>
            <div class="content5">
              <h5>We're your insurance advocate</h5>
              <p class="para-content5">
                We will deal with the insurance companies for you, even after
                you've bought your plan.
              </p>
            </div>
          </div>
          <div class="col5">
            <div class="icon5">
              <img class="icon5-img" src="/frame1/Icon_Neutron.svg" alt="" />
            </div>
            <div class="content5">
              <h5>We're unbiased</h5>
              <p class="para-content5">
                Our online tools help you decide what product is best for you.
                We're here to insurance plan you choose.
              </p>
            </div>
          </div>
          <div class="col5">
            <div class="icon5">
              <img class="icon5-img" src="/frame1/Icon_CS.svg" alt="" />
            </div>
            <div class="content5">
              <h5>We're available 24/7</h5>
              <p class="para-content5">
                We have your back 24/7 between our online chat function, email
                and telephone support.
              </p>
            </div>
          </div>
          <div class="col5">
            <div class="icon5">
              <img class="icon5-img" src="/frame1/Icon_Like.svg" alt="" />
            </div>
            <div class="content5">
              <h5>We make insurance simple</h5>
              <p class="para-content5">
                We're committed to making applying for insurance as simple as
                can be for our customers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr id="hr" />

    <!-- ------section 6----- -->
    <section class="section6">
      <div class="container6">
        <div class="row6">
          <div class="col6">
            <div class="combine-img">
              <img
                class="combine1"
                src="/frame1/Avatar-2.png"
                alt=""
                class="img6"
              />
              <img
                class="combine1"
                src="/frame1/Avatar-1.png"
                alt=""
                class="img6"
              />
              <img
                class="combine1"
                src="/frame1/Avatar.png"
                alt=""
                class="img6"
              />
            </div>
            <p class="para6">
              <b>Friendly</b> customer support <br />
              team
            </p>
          </div>
          <hr class="hr" />
          <div class="col6">
            <div class="flex">
              <img src="/frame1/Path.svg" alt="" />
              <b>Trustpilot</b>
            </div>

            <div class="five-star">
              <img src="/frame1/s.svg" alt="" />
              <img src="/frame1/s.svg" alt="" />
              <img src="/frame1/s.svg" alt="" />
              <img src="/frame1/s.svg" alt="" />
              <img src="/frame1/s.svg" alt="" />
            </div>
            <p class="para6">
              <b>4.6 out of 5 star </b>from 8.6k <br />
              reviews
            </p>
          </div>
          <hr class="hr" />
          <div class="col6">
            <div class="logo6">
              <img src="/frame1/Icon_Like.svg" alt="" />
            </div>
            <div class="content6">
              <p class="para6">
                We're making
                <b
                  >insurance as <br />
                  simple as</b
                >
                can be
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ------footer----- -->
    <footer>
      <div class="container7">
        <div class="row7">
          <div class="col7">
            <div class="logo7">
              <img id="logo7" src="/frame1/Logo_white.svg" alt="" />
            </div>
            <div class="content7">
              <p class="last">
                Build a modern and creative <br />
                website with creative
              </p>
              <div class="social">
                <i class="bi bi-google"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-youtube"></i>
              </div>
            </div>
          </div>
          <div class="col7">
            <h3 id="h3">
              Ready to get insured? Submit your request and <br />
              hear back as soon as tomorrow
            </h3>
            <div class="email">
              <input type="text" placeholder="Your email" />
              <button id="lstbtn">Get started</button>
            </div>
            <p class="last">Copyright &#169; 2019.Crafted with love.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
