<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style0.css" />

    <title>Document</title>
  </head>
  <body>
    <%- include("form") -%>
    <table style="width: 25%">
      <tr>
        <th>Tables Names That you can saearch</th>
      </tr>
      <tr>
        <td>student_master26</td>
      </tr>
      <tr>
        <td>subject_master</td>
      </tr>
      <tr>
        <td>exam_result</td>
      </tr>
      <tr>
        <td>exam_master</td>
      </tr>
      <tr>
        <td>att_master26</td>
      </tr>
      <tr>
        <td>emp_details</td>
      </tr>
      <tr>
        <td>cities</td>
      </tr>
      <tr>
        <td>countries</td>
      </tr>
      <tr>
        <td>edu_detail</td>
      </tr>
      <tr>
        <td>know_techno</td>
      </tr>
      <tr>
        <td>language</td>
      </tr>
      <tr>
        <td>preferences</td>
      </tr>
      <tr>
        <td>reference_contact</td>
      </tr>
      <tr>
        <td>work_experience</td>
      </tr>
    </table>
  </body>
</html>
