<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home-page</title>
    <style>
      body {
        text-align: center;
        background-color: #111111;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      a {
        font-weight: bold;
        background-color: white;
        color: black;
        border: 3.5px solid green;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 5px 5px;
        border-radius: 7px;
      }
      a:hover {
        background-color: green;
        color: white;
      }
      table,
      td {
        /* border: 1px solid #9e9e9e; */
        text-align: left;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      td {
        padding: 15px;
      }
      h1,
      h2 {
        color: rgb(221, 68, 68);
        font-weight: bold;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Puja Moravadiya</h1>
    <h2>24DEV046</h2>
    <hr />
    <table>
      <tr>
        <td>
          <a href="http://localhost:5058/dynamic_table" target="_blank"
            >Dynamic Table</a
          >
        </td>
        <td>
          <a href="http://localhost:5058/kukucube" target="_blank">kukucube</a>
        </td>
        <td>
          <a href="http://localhost:5058/tic-tac-toe" target="_blank"
            >Tic-Tac-Toe</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://localhost:5058/sorting" target="_blank">Sorting</a>
        </td>
        <td>
          <a href="http://localhost:5058/events" target="_blank">Events</a>
        </td>
        <td>
          <a href="http://localhost:5058/job_app" target="_blank"
            >Job Application Form</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://localhost:5058/data" target="_blank"
            >Order By & Pagination</a
          >
        </td>
        <td>
          <a href="http://localhost:5058/att" target="_blank"
            >Attendance Grid</a
          >
        </td>
        <td>
          <a href="http://localhost:5058/result" target="_blank">Result </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://localhost:5058/fetch" target="_blank">Search Grid</a>
        </td>
        <td>
          <a href="http://localhost:5058/fetch2" target="_blank"
            >Dynamic Grid</a
          >
        </td>
        <td>
          <a href="http://localhost:5058/sch" target="_blank">
            Delimeter Search</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://localhost:5058/geneform" target="_blank"
            >Generate Form</a
          >
        </td>
        <td>
          <a href="http://localhost:5058/inu" target="_blank"
            >Job Application Form (Insertion & Update )</a
          >
        </td>
        <td>
          <a href="http://localhost:5058/fetchcity" target="_blank"
            >Fetch City by Selecting Country</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://localhost:5058/inuajax" target="_blank"
            >Job Application (Insertion & update using Ajax)</a
          >
        </td>
        <td>
          <a href="http://localhost:5058/timestamp" target="_blank"
            >Timestamp</a
          >
        </td>
        <td>
          <a href="http://localhost:5058/frame1" target="_blank">Frame 1</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://localhost:5058/frame2" target="_blank">Frame 2</a>
        </td>
        <td>
          <a href="http://localhost:5058/frame3" target="_blank">Frame 3</a>
        </td>
        <td>
          <a href="http://localhost:5058/calculator" target="_blank"
            >Calculator</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://localhost:5058/todolist" target="_blank">Todo List</a>
        </td>
      </tr>
    </table>
  </body>
</html>
