* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9f7ee;
}

/* -----header ----- */
.header {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}
.left {
  margin: 10px;
}
.right {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
}
#logo {
  margin-top: 10px;
  height: 25px;
}
.ul {
  list-style-type: none;
}
li {
  display: inline-block;
  padding: 0 15px;
}
li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.btn {
  width: 120px;
  height: 33px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #0a0c0f;
}
.btn:hover {
  cursor: pointer;
}

/* section 2 */
.container {
  max-width: 1170px;
  margin: 5rem auto;
}
.row2 {
  display: flex;
  flex-wrap: wrap;
}
.col2 {
  width: calc(100% / 2);
}
.content1 {
  display: flex;
}
.content1 p {
  font-size: 12px;
  font-weight: bold;
}
.content1 #star {
  padding-left: 5px;
}
.content2 p {
  font-size: 45px;
  font-weight: bold;
}
.content3 p {
  line-height: 25px;
  margin-bottom: 2rem;
}
.content4 {
  box-shadow: 5px 5px 2px #000000;
}
.content4 .content4-email {
  padding: 9px;
  border: 2px solid #000000;
}
.content4 .content4-btn {
  margin-left: -5px;
  padding: 9px;
  font-weight: 500;
  border: 2px solid black;
  background-color: #ffbb38;
  cursor: pointer;
}
.content5 p {
  position: relative;
  margin-top: 2rem;
  padding: 10px 8px;
  font-size: 12px;
  width: 220px;
  border-radius: 5px;
  background-color: rgba(247, 168, 0, 0.192);
}
.content5 p::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
  width: 0;
  height: 0;
  border-bottom: solid 10px rgba(247, 168, 0, 0.192);
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.position {
  position: relative;
}
.one {
  background-color: #fc7f3a;
  padding: 15px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 1;
}
.one p {
  position: absolute;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.one img {
  position: absolute;
  right: 30%;
  width: 40px;
  height: 40px;
}
.two {
  background-color: #ffbb38;
  padding: 15px;
  border-bottom-right-radius: 50%;
  width: 180px;
  height: 180px;
  position: absolute;
  left: 50%;
  top: 25%;
}
.two img {
  position: absolute;
  left: 3%;
  width: 50px;
  height: 50px;
}
.two p {
  position: absolute;
  bottom: 10%;
  left: 25%;
  margin-top: 4rem;
  font-weight: bold;
  font-size: 28px;
}
.three {
  background-color: #389b48;
  padding: 15px;
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: 3%;
  left: 30%;
  z-index: 1;
}
.three img {
  position: absolute;
  margin-top: 5rem;
  width: 60px;
  height: 60px;
  right: 10%;
  bottom: 3%;
}
.three p {
  position: absolute;
  top: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
.four {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

/* section3 */
.section3 {
  background-color: #000000;
}
.row3 {
  display: flex;
  flex-wrap: wrap;
  /* background-color: #000000; */
}
.col3 {
  display: flex;
  padding: 15px 10rem;
}
.col3 img {
  width: 50px;
  height: 50px;
}
.col3 p {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  padding-right: 5px;
}
/* .hr3{
    margin-left: 30px;
    margin-top: 14px;
    color: #FC6868;
    height: 30px;
    width: 3px;
} */
.line443 {
  margin-top: 20px;
  width: 7px;
  height: 50px;
}

/* section4 */
.center4 {
  text-align: center;
}
.service-btn {
  border-radius: 15px;
  border: none;
  padding: 5px;
  width: 90px;
  background-color: #fc7f3a;
  color: #ffffff;
}
#head4 {
  font-size: 25px;
  font-weight: bold;
}
.center4 p {
  line-height: 25px;
}

/* section 5 */
.row5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.col5 {
  width: calc(100% / 3);
  border-radius: 7px;
  text-align: center;
  margin: 0 30px;
  width: 330px;
  height: 400px;
  padding: 10px;
  background-color: #ebe9de;
}
.icon p {
  font-size: 10px;
}
.middleimg img {
  width: 140px;
  height: 150px;
}
.icon h3 {
  font-size: 30px;
}
.end-content5 button {
  margin-top: 10px;
  padding: 10px 12px;
  border: 1px solid #000000;
  box-shadow: 3px 3px 1px #000000;
}
.end-content5 #btn1 {
  background-color: #389b48;
  color: #ffffff;
}
.end-content5 #btn2 {
  background-color: #ffbb38;
}
.end-content5 #btn3 {
  background-color: #fc7f3a;
}

/* section 6 */
.uppar6 {
  text-align: center;
}
.uppar6 input {
  width: 60px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #6b92cc;
}
.uppar6 #p-content {
  font-size: 25px;
  font-weight: 700;
}
.uppar6 #smallp {
  line-height: 25px;
}
.row6 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.col6 {
  width: calc(100% / 2);
}
.contentend6 input {
  margin-top: 2rem;
  font-size: 10px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  border: 1px solid black;
  background-color: #f9f7ee;
}
.endcon6 u {
  font-size: 12px;
}
.endcon6 img {
  width: 10px;
}
.btnview button {
  border: 1px solid #575555;
  background-color: #ffbb38;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 3px 3px 1px #000000;
  margin-left: 15rem;
  margin-top: 5rem;
}

/* section 7 */
.uppar7 {
  text-align: center;
}
.uppar7 p {
  font-size: 15px;
  line-height: 22px;
}
.row7 {
  display: flex;
  flex-wrap: wrap;
}
.col7 {
  width: calc(90% / 3);
  margin: 10px;
  padding: 12px;
  padding-bottom: 30px;
  background-color: #ebe9de;
  border-radius: 10px;
}
.ptop {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.pprice {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.pmiddle {
  line-height: 25px;
  text-align: center;
}
.HR7 {
  width: 90%;
}
.ul7 {
  list-style-type: circle;
}
.end7 ul li {
  font-size: 12px;
}
.small {
  font-size: 15px;
  font-weight: 500;
}
.btn7 {
  text-align: center;
}
.endbtn-71 {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #ffbb38;
}
.endbtn-72 {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #fc7f3a;
}
.endbtn-73 {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #389b48;
}

/* :hover */
.col7:hover .btn7 {
  border: 1px solid #000000;
  box-shadow: 5px 5px #ffffff;
}
.col7:hover {
  background-color: #000000;
  color: #ffffff;
  margin: -4px 0 20px 0;
  /* transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px; */
}
/* section8 */
.section8 {
  background-color: #73f188;
}
.con8 {
  position: relative;
}
.row8 {
  display: flex;
  flex-wrap: wrap;
}
.col8 {
  width: calc(100% / 2);
  padding: 55px;
}
.mar-right {
  margin-right: -75px;
}
.icon8 img {
  margin-left: 2rem;
  width: 250px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 1px solid #000000;
}
.content8 {
  position: relative;
  bottom: 25px;
  left: 80px;
  z-index: 1;
  display: flex;
  border: 1px solid #000000;
  width: 150px;
  text-align: center;
  border-radius: 30px;
  background-color: #ffbb38;
}
.content8 p {
  margin-left: 20px;
  font-size: 12px;
}
.content8 img {
  margin: 8px;
  border: 1px solid #000000;
  background-color: #389b48;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 2px 2px #000000;
}
.col8con {
  margin-top: 3rem;
}
.uppr8 {
  font-size: 20px;
  line-height: 25px;
}
.endcon8 {
  font-size: 12px;
  line-height: 20px;
}
#left-arr {
  position: absolute;
  top: 50%;
  left: 0%;
}
#right-arr {
  position: absolute;
  bottom: 45%;
  right: 0%;
}
/* section9 */
#btn9 {
  width: 45px;
  border-radius: 15px;
  padding: 5px;
  border: none;
  background-color: #fc6868;
  color: #ffffff;
}
#stay {
  font-weight: bold;
  font-size: 25px;
}
.row9 {
  display: flex;
  flex-wrap: wrap;
}
.col9 {
  width: calc(100% / 2);
}
.icon9 img {
  width: 500px;
}

.content9 input {
  margin-top: 2rem;
  font-size: 10px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  border: 1px solid black;
  background-color: #f9f7ee;
}

.endcon9 u {
  font-size: 12px;
}
.endcon9 img {
  width: 10px;
}
/* section10 */
.section10 {
  background-color: #ffbb38;
}
.row10 {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}
.col10 {
  width: calc(100% / 2);
  padding: 0 15px;
}
.head10 {
  font-size: 28px;
  font-weight: bold;
}
.hr10 {
  margin-right: 5rem;
}
.hrpadd {
  margin-bottom: 45px;
}
.arr-right-pos {
  position: relative;
  left: 60%;
}
.dim {
  opacity: 0.42;
}
.margin {
  margin-top: 5rem;
}
.content10 p {
  font-weight: 700;
}
.rightcon10 {
  font-size: 12px;
}
.bookcall {
  border-radius: 15px;
  border: 1px solid #000000;
  background-color: #ffbb38;
  padding: 8px;
  width: 100px;
}
/* section11 */
.back11 {
  background-color: #000000;
  margin-top: -5rem;
  margin-bottom: 5rem;
}
.row11 {
  display: flex;
}
.row11 p {
  color: #ffffff;
  padding: 15px 30px;
  font-weight: bold;
}
.group {
  margin: 25px 0;
  height: 30px;
}
.line4 {
  margin: 40px 0;
  height: 5px;
}
/* footer */
.footer-hr {
  margin: 25px 0;
  opacity: 0.42;
}
.row-footer {
  display: flex;
  flex-wrap: wrap;
}
.col-footer {
  width: calc(100% / 4);
}
.row-last {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.col-last {
  width: calc(100% / 2);
}
.last {
  text-align: right;
}
footer {
  margin-bottom: -5rem;
}
