body {
  background-color: rgb(151, 143, 131);
}
#demo {
  color: rgb(16, 145, 16);
  font-size: 25px;
  margin: 15px 40rem;
  text-shadow: 2px 2px rgb(46, 173, 46);
}
.error {
  color: red;
}
#form {
  max-width: 1570px;
}

#fieldset {
  margin: 5rem auto;
  padding: 25px 15px;
  background-color: #3b3b3b;
}
.form-control {
  margin-bottom: 15px;
}
#set {
  color: #007bff;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #007bff;
  margin: 0 15rem;
  border-radius: 4px;
}
label {
  color: red;
  font-weight: bold;
}
#set:hover {
  background-color: #007bff;
  color: white;
  text-decoration: none;
}
