* {
  margin: 0;
  padding: 0;
}
body {
  margin: 5px;
  background-color: #deb887;
  text-align: center;
}
.hide {
  display: none;
}
#head {
  color: #b109a8ee;
  text-align: center;
  margin-top: 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
  gap: 0.5vmin;
}
.box {
  width: 120px;
  height: 130px;
  border: none;
  border-radius: 0.5rem;
  background-color: azure;
  color: #a52a2a;
  font-size: 40px;
  /* gap: 0.5rem; */
}
.button {
  font-size: 20px;
  width: 150px;
  padding: 10px;
  background-color: #a52a2a;
}

.msg-container {
  margin: 10px;
}
.msg {
  margin-bottom: 20px;
  font-size: 35px;
  color: crimson;
}
