<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/frame3.css" />
    <title>Web Page 3</title>
  </head>
  <body>
    <!-- ------------ header ------------ -->
    <header>
      <div class="header">
        <div class="left">
          <img id="logo" src="/img_videos/frame3/HireX_black.png" alt="none" />
        </div>
        <div class="right">
          <ul class="ul">
            <li><a href="#">Works</a></li>
            <li>
              <a href="#">About us</a>
            </li>
            <li>
              <a href="#">Blogs </a>
            </li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact us</a></li>

            <li>
              <button class="btn">
                We're Hiring
                <img id="imgarw-right" src="/img_videos/frame3/arrow-right.png" alt="" />
              </button>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- section 2 -->
    <section>
      <div class="container">
        <div class="row2">
          <div class="col2">
            <div class="content content1">
              <p>WELCOME TO HIREX</p>
              <img id="star" src="/img_videos/frame3/Star 1.png" alt="" />
            </div>
            <div class="content content2">
              <p>
                Award Winning <br />
                Digital Agency.
              </p>
            </div>
            <div class="content content3">
              <p>
                Digital Agency offering unique solutions to create <br />
                digital presence and increase your sales.
              </p>
            </div>
            <div class="content content4" style="width: fit-content">
              <input
                class="content4-email"
                type="text"
                placeholder="Your email address"
              />
              <input
                class="content4-btn"
                type="button"
                value="Request access"
              />
            </div>
            <div class="content content5">
              <p>Open account and get 5 boxes</p>
            </div>
          </div>
          <div class="col2 position">
            <div class="one">
              <img src="/img_videos/frame3/image 2 (Traced).png" alt="" />
              <p>Web Design</p>
            </div>
            <div class="two">
              <img src="/img_videos/frame3/image 6 (Traced).png" alt="" />
              <p>Social Midia</p>
            </div>
            <div class="three">
              <img src="/img_videos/frame3/image 1 (Traced).png" alt="" />
              <p>UIX Design</p>
            </div>
            <div class="four">
              <img src="/img_videos/frame3/Group 6.png" alt="" />
            </div>
          </div>

          <!-- end--------- -->
        </div>
      </div>
    </section>

    <!-- section3 -->
    <section class="section3">
      <marquee direction="" scrollamount="10">
        <div class="row3">
          <div class="col3">
            <p>GET ACCESS NOW!</p>
            <img src="/img_videos/frame3/image-fBLQvAFN1-transformed 1.png" alt="" />
          </div>
          <img class="line443" src="/img_videos/frame3/Line 4.png" alt="" />
          <!-- <hr class="hr3" /> -->
          <div class="col3">
            <p>GET ACCESS NOW!</p>
            <img src="/img_videos/frame3/image-fBLQvAFN1-transformed 1.png" alt="" />
          </div>
          <!-- <hr class="hr3" /> -->
          <img class="line443" src="/img_videos/frame3/Line 4.png" alt="" />
          <div class="col3">
            <p>GET ACCESS NOW!</p>
            <img src="/img_videos/frame3/image-fBLQvAFN1-transformed 1.png" alt="" />
          </div>
        </div>
      </marquee>
    </section>

    <!-- section4 -->
    <section>
      <div class="container">
        <div class="center4">
          <input type="button" value="Services" class="service-btn" />
          <p id="head4">How Hirex. Work</p>
          <p>
            The awesome people who makes <br />
            all this possible
          </p>
        </div>
      </div>
    </section>

    <!-- section 5 -->
    <section>
      <div class="container">
        <div class="row5">
          <div class="col5">
            <div class="card">
              <div class="icon">
                <p>START HERE</p>
                <h3>Who we are & what we do</h3>
              </div>
              <div class="middleimg">
                <img src="/img_videos/frame3/Designer _Flatline 1.png" alt="" />
              </div>
              <div class="end-content5">
                <button id="btn1">
                  START HERE <img src="/img_videos/frame3/arrow-right.png" alt="" />
                </button>
              </div>
            </div>
          </div>
          <div class="col5">
            <div class="card">
              <div class="icon">
                <p>CUSTOM DESIGN</p>
                <h3>We'll design your projects</h3>
              </div>
              <div class="middleimg">
                <img src="/img_videos/frame3/Notifications_Flatline 1.png" alt="" />
              </div>
              <div class="end-content5">
                <button id="btn2">
                  START HERE <img src="/img_videos/frame3/arrow-right-black.png" alt="" />
                </button>
              </div>
            </div>
          </div>
          <div class="col5">
            <div class="card">
              <div class="icon">
                <p>CONTACT US</p>
                <h3>Drop us your message!</h3>
              </div>
              <div class="middleimg">
                <img src="/img_videos/frame3/Fortnite_Two Color 1.png" alt="" />
              </div>
              <div class="end-content5">
                <button id="btn3">
                  START HERE <img src="/img_videos/frame3/arrow-right-black.png" alt="" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section 6 -->
    <section>
      <div class="container">
        <div class="uppar6">
          <input type="button" value="Works" />
          <p id="p-content">Find our latest works</p>
          <p id="smallp">
            The awesome people who makes <br />
            all this possible
          </p>
        </div>
        <div class="row6">
          <div class="col6">
            <div class="icon6">
              <img src="/img_videos/frame3/Rectangle 13.png" alt="" />
            </div>
            <div class="contentend6">
              <input type="button" value="Web design" />
              <h3>Website a unique Website with Hirex Template</h3>
              <p>Build a unique Website with Hirex Template</p>
            </div>
            <div class="endcon6">
              <u
                >Read more <img src="/img_videos/frame3/arrow-right-black.png" alt=""
              /></u>
            </div>
          </div>
          <div class="col6">
            <div class="icon6">
              <img src="/img_videos/frame3/Rectangle 13-1.png" alt="" />
            </div>
            <div class="contentend6">
              <input type="button" value="3D design" />
              <h3>Realistic 3d model of Living Room</h3>
              <p>Build a unique Website with Hirex Template</p>
            </div>
            <div class="endcon6">
              <u
                >Read more <img src="/img_videos/frame3/arrow-right-black.png" alt=""
              /></u>
            </div>
            <div class="btnview">
              <button>
                View All <img src="/img_videos/frame3/arrow-right-black.png" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section7 -->
    <section>
      <div class="container">
        <div class="uppar7">
          <h2>Plans & Pricing</h2>
          <p>
            The awesome people who makes <br />
            all this possible
          </p>
        </div>

        <div class="row7">
          <div class="col7">
            <div class="upper7">
              <p class="ptop">Free</p>
              <p class="pprice">$0 <span class="small">/Month</span></p>
              <p class="pmiddle">
                Start free while you learn more about <br />
                our services
              </p>
            </div>
            <hr class="HR7" />
            <div class="end7">
              <ul class="ul7">
                <li>Free forever get the basic essentials</li>
                <li>Advanced security and performance</li>
                <li>Unlimited unhosted sites</li>
                <li>Live support</li>
              </ul>
            </div>
            <div class="btn7 endbtn-71">GET STARTED</div>
          </div>
          <div class="col7">
            <div class="upper7">
              <p class="ptop">BASIC</p>
              <p class="pprice">$19 <span class="small">/Month</span></p>
              <p class="pmiddle">
                Get powerful tools to make your business grow
              </p>
            </div>
            <hr class="HR7" />
            <div class="end7">
              <ul class="ul7">
                <li>Free forever get the basic essentials</li>
                <li>Advanced security and performance</li>
                <li>Unlimited unhosted sites</li>
                <li>Live support</li>
              </ul>
            </div>
            <div class="btn7 endbtn-72">GET STARTED</div>
          </div>
          <div class="col7">
            <div class="upper7">
              <p class="ptop">Pro</p>
              <p class="pprice">$99 <span class="small">/Month</span></p>
              <p class="pmiddle">
                Take your business to the next level with our tools
              </p>
            </div>
            <hr class="HR7" />
            <div class="end7">
              <ul class="ul7">
                <li>Free forever get the basic essentials</li>
                <li>Advanced security and performance</li>
                <li>Unlimited unhosted sites</li>
                <li>Live support</li>
              </ul>
            </div>
            <div class="btn7 endbtn-73">GET STARTED</div>
          </div>
        </div>
        <!-- end--------- -->
      </div>
    </section>
    <!-- section8 -->

    <section class="section8">
      <div class="container con8">
        <img
          onclick="Slider(-1)"
          id="left-arr"
          src="/img_videos/frame3/arrow-left-2.png"
          alt=""
        />

        <!-- --------------content1 ---------- -->
        <div class="row8" style="display: none">
          <div class="col8 mar-right">
            <div class="icon8">
              <img src="/img_videos/frame3/testimonials-img.png" alt="" class="img8" />
            </div>
            <div class="content8">
              <p>@mase.place</p>
              <img src="/img_videos/frame3/arrow_top-right.png" alt="" />
            </div>
          </div>
          <div class="col8 col8con">
            <div class="uppr8">
              <p>
                "We select to practice in Minerva since it is both useful, and
                our clients basically adore it! it has stood the test of time
                and proceeds"
              </p>
            </div>

            <div class="endcon8">
              <p>
                Abel Carden is a TikTok personality and lip-sync content creator
                who has built a fanbase of more than 3.2 million followers on
                the platform.
              </p>
            </div>
          </div>
        </div>

        <!-- --------------content2 ---------- -->
        <div class="row8" style="display: none">
          <div class="col8 mar-right">
            <div class="icon8">
              <img src="/img_videos/frame3/testimonials-img.png" alt="" class="img8" />
            </div>
            <div class="content8">
              <p>@mase2.place</p>
              <img src="/img_videos/frame3/arrow_top-right.png" alt="" />
            </div>
          </div>
          <div class="col8 col8con">
            <div class="uppr8">
              <p>
                "We select to practice in Minerva since it is both useful, and
                our clients basically adore it! it has stood the test of time
                and proceeds"
              </p>
            </div>

            <div class="endcon8">
              <p>
                Abel Carden is a TikTok personality and lip-sync content creator
                who has built a fanbase of more than 3.2 million followers on
                the platform.
              </p>
            </div>
          </div>
        </div>
        <!-- --------------content3 ---------- -->
        <div class="row8" style="display: none">
          <div class="col8 mar-right">
            <div class="icon8">
              <img src="/img_videos/frame3/testimonials-img.png" alt="" class="img8" />
            </div>
            <div class="content8">
              <p>@mase3.place</p>
              <img src="/img_videos/frame3/arrow_top-right.png" alt="" />
            </div>
          </div>
          <div class="col8 col8con">
            <div class="uppr8">
              <p>
                "We select to practice in Minerva since it is both useful, and
                our clients basically adore it! it has stood the test of time
                and proceeds"
              </p>
            </div>

            <div class="endcon8">
              <p>
                Abel Carden is a TikTok personality and lip-sync content creator
                who has built a fanbase of more than 3.2 million followers on
                the platform.
              </p>
            </div>
          </div>
        </div>
        <!-- --------------content4 ---------- -->
        <div class="row8" style="display: none">
          <div class="col8 mar-right">
            <div class="icon8">
              <img src="/img_videos/frame3/testimonials-img.png" alt="" class="img8" />
            </div>
            <div class="content8">
              <p>@mase4.place</p>
              <img src="/img_videos/frame3/arrow_top-right.png" alt="" />
            </div>
          </div>
          <div class="col8 col8con">
            <div class="uppr8">
              <p>
                "We select to practice in Minerva since it is both useful, and
                our clients basically adore it! it has stood the test of time
                and proceeds"
              </p>
            </div>

            <div class="endcon8">
              <p>
                Abel Carden is a TikTok personality and lip-sync content creator
                who has built a fanbase of more than 3.2 million followers on
                the platform.
              </p>
            </div>
          </div>
        </div>
        <!-- --------------content5 ---------- -->
        <div class="row8" style="display: none">
          <div class="col8 mar-right">
            <div class="icon8">
              <img src="/img_videos/frame3/testimonials-img.png" alt="" class="img8" />
            </div>
            <div class="content8">
              <p>@mase5.place</p>
              <img src="/img_videos/frame3/arrow_top-right.png" alt="" />
            </div>
          </div>
          <div class="col8 col8con">
            <div class="uppr8">
              <p>
                "We select to practice in Minerva since it is both useful, and
                our clients basically adore it! it has stood the test of time
                and proceeds"
              </p>
            </div>

            <div class="endcon8">
              <p>
                Abel Carden is a TikTok personality and lip-sync content creator
                who has built a fanbase of more than 3.2 million followers on
                the platform.
              </p>
            </div>
          </div>
        </div>
        <!-- --------------content6 ---------- -->
        <div class="row8" style="display: none">
          <div class="col8 mar-right">
            <div class="icon8">
              <img src="/img_videos/frame3/testimonials-img.png" alt="" class="img8" />
            </div>
            <div class="content8">
              <p>@mase6.place</p>
              <img src="/img_videos/frame3/arrow_top-right.png" alt="" />
            </div>
          </div>
          <div class="col8 col8con">
            <div class="uppr8">
              <p>
                "We select to practice in Minerva since it is both useful, and
                our clients basically adore it! it has stood the test of time
                and proceeds"
              </p>
            </div>

            <div class="endcon8">
              <p>
                Abel Carden is a TikTok personality and lip-sync content creator
                who has built a fanbase of more than 3.2 million followers on
                the platform.
              </p>
            </div>
          </div>
        </div>
        <!-- --------------content7 ---------- -->
        <div class="row8" style="display: none">
          <div class="col8 mar-right">
            <div class="icon8">
              <img src="/img_videos/frame3/testimonials-img.png" alt="" class="img8" />
            </div>
            <div class="content8">
              <p>@mase7.place</p>
              <img src="/img_videos/frame3/arrow_top-right.png" alt="" />
            </div>
          </div>
          <div class="col8 col8con">
            <div class="uppr8">
              <p>
                "We select to practice in Minerva since it is both useful, and
                our clients basically adore it! it has stood the test of time
                and proceeds"
              </p>
            </div>

            <div class="endcon8">
              <p>
                Abel Carden is a TikTok personality and lip-sync content creator
                who has built a fanbase of more than 3.2 million followers on
                the platform.
              </p>
            </div>
          </div>
        </div>
        <!-- --------------content8 ---------- -->
        <div class="row8" style="display: none">
          <div class="col8 mar-right">
            <div class="icon8">
              <img src="/img_videos/frame3/testimonials-img.png" alt="" class="img8" />
            </div>
            <div class="content8">
              <p>@mase8.place</p>
              <img src="/img_videos/frame3/arrow_top-right.png" alt="" />
            </div>
          </div>
          <div class="col8 col8con">
            <div class="uppr8">
              <p>
                "We select to practice in Minerva since it is both useful, and
                our clients basically adore it! it has stood the test of time
                and proceeds"
              </p>
            </div>

            <div class="endcon8">
              <p>
                Abel Carden is a TikTok personality and lip-sync content creator
                who has built a fanbase of more than 3.2 million followers on
                the platform.
              </p>
            </div>
          </div>
        </div>
        <!-- --------------content9 ---------- -->
        <div class="row8" style="display: none">
          <div class="col8 mar-right">
            <div class="icon8">
              <img src="/img_videos/frame3/testimonials-img.png" alt="" class="img8" />
            </div>
            <div class="content8">
              <p>@mase9.place</p>
              <img src="/img_videos/frame3/arrow_top-right.png" alt="" />
            </div>
          </div>
          <div class="col8 col8con">
            <div class="uppr8">
              <p>
                "We select to practice in Minerva since it is both useful, and
                our clients basically adore it! it has stood the test of time
                and proceeds"
              </p>
            </div>

            <div class="endcon8">
              <p>
                Abel Carden is a TikTok personality and lip-sync content creator
                who has built a fanbase of more than 3.2 million followers on
                the platform.
              </p>
            </div>
          </div>
        </div>
        <!-- --------------content1 ---------- -->
        <img
          onclick="Slider(1)"
          id="right-arr"
          src="/img_videos/frame3/arrow-right-2.png"
          alt=""
        />
      </div>
    </section>

    <!-- section9 -->
    <section>
      <div class="container">
        <input id="btn9" type="button" value="Blog" />
        <p id="stay">Stay updated</p>
        <div class="row9">
          <div class="col9">
            <div class="icon9">
              <img src="/img_videos/frame3/Rectangle 19.png" alt="" />
            </div>
            <div class="content9">
              <input type="button" value="Web design" />
              <h3>We Launch Minerva Template this Week!</h3>
              <p>Build a unique Website with Hirex Template</p>
            </div>
            <div class="endcon9">
              <u
                >Read more <img src="/img_videos/frame3/arrow-right-black.png" alt=""
              /></u>
            </div>
          </div>

          <div class="col9">
            <div class="icon9">
              <img src="/img_videos/frame3/Rectangle 20.png" alt="" />
            </div>
            <div class="content9">
              <input type="button" value="Web design" />
              <h3>Introducing the Non-Code Webflow Guide</h3>
              <p>Build a unique Website with Hirex Template</p>
            </div>
            <div class="endcon9">
              <u
                >Read more <img src="/img_videos/frame3/arrow-right-black.png" alt=""
              /></u>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section10 -->
    <section class="section10">
      <div class="container">
        <div class="row10">
          <div class="col10">
            <div class="icon10">
              <p class="head10">Get our latests news & updates</p>
            </div>
            <div class="content10">
              <p>NAME</p>
              <hr class="hr10 dim" />
              <p>EMAIL</p>
              <hr class="hr10" />
              <p>
                SUBSCRIBE
                <img
                  class="arr-right-pos"
                  src="/img_videos/frame3/arrow-right-2.png"
                  alt=""
                />
              </p>
              <hr class="hr10 hrpadd" />
            </div>
          </div>
          <div class="col10 margin">
            <p class="rightcon10">
              We select to practice in Minerva since it is both useful and
              commonsense and our clients basically adore it
            </p>
            <input type="button" value="Book a Call" class="bookcall" />
          </div>
        </div>
      </div>
    </section>
    <!-- section11line -->
    <section class="back11">
      <marquee direction="" scrollamount="10">
        <div class="row11">
          <p class="head11">THANK YOU FOR YOUR VISIT</p>
          <img class="line4" src="/img_videos/frame3/Line 4.png" alt="" />
          <p class="head11">THANK YOU FOR YOUR VISIT</p>
          <img class="group" src="/img_videos/frame3/Group 59.png" alt="" />
          <p class="head11">THANK YOU FOR YOUR VISIT</p>
          <img class="line4" src="/img_videos/frame3/Line 4.png" alt="" />
          <p class="head11">THANK YOU FOR YOUR VISIT</p>
          <img class="group" src="/img_videos/frame3/Group 59.png" alt="" />
          <p class="head11">THANK YOU FOR YOUR VISIT</p>
        </div>
      </marquee>
    </section>
    <!-- footer -->
    <footer>
      <div class="container">
        <div class="footer-img">
          <img src="/img_videos/frame3/HireX_black.png" alt="" />
        </div>
        <hr class="footer-hr" />

        <div class="row-footer">
          <div class="col-footer">
            <div class="uppr-footer">
              <p>Products</p>
            </div>
            <div class="footer-end">
              <p>Platform</p>
              <p>Store Overview</p>
              <p>Email Reports</p>
              <p>Portfolio</p>
            </div>
          </div>

          <div class="col-footer">
            <div class="uppr-footer">
              <p>Resources</p>
            </div>
            <div class="footer-end">
              <p>Case Studies</p>
              <p>Product Guides</p>
              <p>Reports</p>
              <p>Blog</p>
              <p>FAQ</p>
            </div>
          </div>

          <div class="col-footer">
            <div class="uppr-footer">
              <p>Company</p>
            </div>
            <div class="footer-end">
              <p>Careers</p>
              <p>Contact Sales</p>
              <p>Contact Support</p>
            </div>
          </div>

          <div class="col-footer">
            <div class="uppr-footer">
              <p>Partners</p>
            </div>
            <div class="footer-end">
              <p>Partner With Us</p>
            </div>
          </div>
        </div>

        <div class="row-last">
          <div class="col-last">
            <p>Terms and Conditions <span>Privacy Policy</span></p>
          </div>
          <div class="col-last">
            <p class="last">&#169; HIREX, Inc. 2022</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/app3.js"></script>
  </body>
</html>
