<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      #timer {
        text-align: center;
        font-size: 25px;
        color: rgb(9, 73, 4);
      }
      body {
        background-color: rgb(151, 143, 131);
      }
      #demo {
        color: rgb(7, 95, 7);
        font-size: 25px;
        text-align: center;
        margin: 15px 0;
        text-shadow: 2px 2px rgb(25, 107, 25);
      }
      .error {
        color: red;
      }
      #err {
        color: rgb(236, 30, 30);
        font-size: 20px;
        margin: 15px 40rem;
      }

      #fieldset {
        margin: 5rem auto;
        padding: 25px 15px;
        background-color: #3b3b3b;
      }
      .form-control {
        margin-bottom: 15px;
      }
      .same {
        margin-left: 10rem;
      }
      .same a {
        margin: 0 10px;
      }
      #already {
        color: #007bff;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #007bff;
        /* margin: 0 15rem; */
        border-radius: 4px;
      }
      #already:hover {
        background-color: #007bff;
        color: white;
        text-decoration: none;
      }
      #submit {
        color: #007bff;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #007bff;
        /* margin: 0 15rem; */
        border-radius: 4px;
      }
      label {
        color: red;
        font-weight: bold;
      }

      #submit:hover {
        background-color: #007bff;
        color: white;
        text-decoration: none;
      }
      h1 {
        text-align: center;
        margin-top: 10px;
      }
    </style>
    <title>registration form</title>
  </head>
  <body>
    <h1>Registration Form</h1>
    <form id="form">
      <fieldset class="form-control" id="fieldset" style="width: 650px">
        <div>
          <label for="fname">First name:</label>
          <input
            type="text"
            id="fname"
            name="fname"
            class="form-control"
            placeholder="Enter your first Name...."
          />
          <p class="error"></p>
        </div>
        <div>
          <label for="lname">Last name:</label>
          <input
            type="text"
            id="lname"
            name="lname"
            class="form-control"
            placeholder="Enter your last Name...."
          />
          <p class="error"></p>
        </div>
        <div>
          <label for="email">Email:</label>
          <input
            type="text"
            id="email"
            class="form-control"
            name="email"
            placeholder="Enter your email...."
          />
          <p class="error"></p>
        </div>
        <div class="same">
          <a href="#" id="submit">Register</a>
          <a href="/login" id="already">Already have Account?</a>
        </div>
      </fieldset>
    </form>
    <p id="demo"></p>
  </body>

  <script>
    //===========generate random string code ==========
    function randomstr() {
      let length = 12;
      let result = "";
      const characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      const total = characters.length;
      let counter = 0;
      while (counter < length) {
        result += characters.charAt(Math.floor(Math.random() * total));
        counter += 1;
      }
      return result;
    }
    let str = randomstr();
    var email = document.getElementById("email");
    //===========validation==========
    let j = 0;
    let arr = ["fname", "lname", "email"];
    function validateForm() {
      document.getElementsByClassName("error")[j].innerHTML = "";
      for (let i = 0; i < arr.length; i++) {
        if (
          document.getElementById(arr[i]).value == "" ||
          document.getElementById(arr[i]).value == null
        ) {
          document.getElementsByClassName("error")[
            i
          ].innerHTML = `This field is required`;
          j = i;
          return false;
        }
        if (arr[i] == "email") {
          ValidateEmail(document.getElementById(arr[i]).value);
          if (ValidateEmail(document.getElementById(arr[i]).value) != true) {
            return false;
          }
        }
      }
      return true;
    }
    function ValidateEmail(email) {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
        return true;
      } else {
        text = "Please Enter Valid Email";
        document.getElementById("p5").innerHTML = text;
        return false;
      }
    }
    const sub = document.getElementById("submit");
    sub.addEventListener("click", async () => {
      const check = validateForm();
      if (check) {
        console.log("checked");
        const checkdata = await fetch(
          `http://localhost:5065/getData?email=${email.value}`
        );
        const result = await checkdata.json();
        console.log(result.length);
        console.log(result);
        // let flag = true;
        if (result.length > 0) {
          console.log("match");
          console.log("if fire");
          document.getElementById("demo").innerHTML = "Email already Exists!!";
          // flag = false;
        } else {
          var response;
          response = await fetch(`/register/${str}`, {
            method: "POST",
            body: new URLSearchParams(
              new FormData(document.getElementById("form"))
            ),
          });
          console.log(response);
          const result = await response.json();
          console.log(result);
          window.location.href = `http://localhost:5065/afterregister/${str}`;
        }
      }
    });
  </script>
</html>
