<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/frame2.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Figma Page 2</title>
  </head>
  <body>
    <!-- ------- header ------- -->
    <header>
      <div class="container">
        <div class="left">
          <img id="logo" src="/img_videos/frame2/cloud-sunny.png" alt="none" />
          <p style="color: #1d4177"><b>Awan</b> Hoster</p>
        </div>
        <div class="right">
          <ul>
            <li><a href="#hosting">Hosting</a></li>
            <li>
              <a href="#integration">Integration</a>
            </li>
            <li>
              <a href="#pricing ">Pricing </a>
            </li>
            <li><a href="#community">Community</a></li>

            <li><button class="btn">Login</button></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- hr---- -->
    <hr class="hr" />
    <!-- -------- section 2 -------- -->
    <section class="section2">
      <div class="container2">
        <div class="row2">
          <div class="col2">
            <div class="content content1">
              <p id="head2">
                Hosting <br />
                Services for <br />
                Your Website
              </p>
              <!-- <h1>Hosting</h1>
              <h1>Services for</h1>
              <h1>Your Website</h1> -->
            </div>
            <div class="content content2">
              <p>
                Easily and reliably host a website for your business,<br />
                organization, or project while retaining complete control <br />
                over your site's underlying infrastructure.
              </p>
            </div>
            <div class="content content3">
              <button class="btn21">Get Started</button>
              <button class="btn22">Get Migration Help</button>
            </div>
            <div class="content content4">
              <img src="/img_videos/frame2/arrow-down.png" alt="" />
            </div>
          </div>
          <div class="col2">
            <img
              src="/img_videos/frame2/portrait-confident-bearded-man-using-laptop-computer 1.png"
              alt=""
              class="img2"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- ---------- section 3 ------------- -->
    <section class="section3">
      <div class="container3">
        <div class="row3">
          <div class="col3">
            <p>
              Those Who Have <br />
              Experienced The Best <br />
              Performance
            </p>
          </div>
          <div class="col3 imgs41">
            <img src="/img_videos/frame2/Telkom Indonesia Logo.png" alt="" />
          </div>
          <div class="col3 imgs42">
            <img src="/img_videos/frame2/Jetstar Airways Logo.png" alt="" />
          </div>
          <div class="col3 imgs43">
            <img src="/img_videos/frame2/Nescafe Logo.png" alt="" />
          </div>
          <div class="col3 imgs44">
            <img src="/img_videos/frame2/Lenovo Logo.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!-- ----------------  section 4 ---------------- -->
    <section class="section4">
      <div class="container4">
        <div class="row4">
          <div class="col4">
            <img
              class="group-img"
              src="/img_videos/frame2/Group 3552.png"
              alt=""
            />
          </div>
          <div class="col4">
            <div class="content41">
              <p>
                Boost the Speed of <br />
                Your Website
              </p>
            </div>
            <div class="content42">
              <div class="col42">
                <b>Faster Build Process</b>
                <p>
                  We can spped up the process <br />
                  of creating your website
                </p>
              </div>
              <div class="col42">
                <b>Faster Delivery</b>
                <p>
                  Our purchases and services <br />
                  can be completed quickly
                </p>
              </div>
              <div class="col42">
                <b>Faster Access Speed</b>
                <p>
                  Superb network infrastructure <br />
                  and hardware to support fast <br />
                  and stable access
                </p>
              </div>
              <div class="col42">
                <b> 24/7 Faster Service</b>
                <p>
                  We have a response time of <br />
                  less than 180 seconds, <br />
                  available 24 hours a day
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ----------------  section 5 ---------------- -->
    <section class="section5">
      <div class="container5">
        <div class="upper">
          <p class="con5">
            Host Any Website With Our <br />
            Fully Managed Services
          </p>
          <div class="down">
            <div class="row5">
              <div class="col5">
                <div class="part51">
                  <div class="icon">
                    <img src="/img_videos/frame2/cloud-sunny.png" alt="" />
                    <p>Cloud Hosting</p>
                  </div>
                  <p class="part51p">
                    Cloud Hosting is a good fit for those of you who are buildng
                    personal websites, portfolios, blogs, and other systems.
                  </p>
                </div>
                <div class="part52">
                  <p class="dollar">
                    $5.9
                    <span style="font-size: 15px; font-weight: 100"
                      >/month</span
                    >
                  </p>
                </div>
                <button id="more-det">More Detail</button>
              </div>

              <div class="col5">
                <div class="part51">
                  <div class="icon">
                    <img src="/img_videos/frame2/buildings.png" alt="" />
                    <p>Corporate</p>
                  </div>
                  <p class="part51p">
                    Provides business-related hosting services, such as websites
                    or management systems for companies.
                  </p>
                </div>
                <div class="part52">
                  <p class="dollar">
                    $19
                    <span style="font-size: 15px; font-weight: 100"
                      >/month</span
                    >
                  </p>
                </div>
                <button id="more-det">More Detail</button>
              </div>

              <div class="col5">
                <div class="part51">
                  <div class="icon">
                    <img src="/img_videos/frame2/driver.png" alt="" />
                    <p>Cloud VPS</p>
                  </div>
                  <p class="part51p">
                    A Scalable, fully-managed virtual private server we build
                    and optimize specifically for your website.
                  </p>
                </div>
                <div class="part52">
                  <p class="dollar">
                    $29
                    <span style="font-size: 15px; font-weight: 100"
                      >/month</span
                    >
                  </p>
                </div>
                <button id="more-det">More Detail</button>
              </div>
              <div class="col5">
                <div class="part51">
                  <div class="icon">
                    <img src="/img_videos/frame2/monitor-mobbile.png" alt="" />
                    <p>Dedicated</p>
                  </div>
                  <p class="part51p">
                    Your mission-critical website requires the performance and
                    security of a dedicated physical server.
                  </p>
                </div>
                <div class="part52">
                  <p class="dollar">
                    $119
                    <span style="font-size: 15px; font-weight: 100"
                      >/month</span
                    >
                  </p>
                </div>
                <button id="more-det">More Detail</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ------------ section 6 ---------- -->

    <section class="section6">
      <div class="container6">
        <div class="row6">
          <div class="col6" style="width: 25%">
            <div class="col61" onclick="myfun('wordpress-content')">
              <img
                class="img61"
                src="/img_videos/frame2/WordPress.com Logo.png"
                alt=""
              />
              <p>Wordpress</p>
            </div>
            <div class="col61" onclick="myfun('magento-content')">
              <img
                class="img61"
                src="/img_videos/frame2/WordPress.com Logo.png"
                alt=""
              />
              <p>Magento</p>
            </div>
            <div class="col61" onclick="myfun('laravel-content')">
              <img
                class="img61"
                src="/img_videos/frame2/WordPress.com Logo.png"
                alt=""
              />
              <p>Laravel</p>
            </div>
            <div class="col61" onclick="myfun('php-content')">
              <img
                class="img61"
                src="/img_videos/frame2/WordPress.com Logo.png"
                alt=""
              />
              <p>PHP</p>
            </div>
          </div>
          <div class="col6 col6end" id="wordpress-content">
            <div class="head6">
              <p class="head6-con">
                The Best Managed Cloud <br />
                Hosting for Wordpress
              </p>
            </div>
            <div class="center6">
              <p>
                We live and breathe WordPress. Our managed hosting for Wordpress
                and <br />
                WooCommerce takes away cloud server related hassles so you can
                scale your <br />
                website the way you want.
              </p>
            </div>
            <div class="end">
              <div class="row66">
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Unlimited Bandwidth</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Network Speed</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Turbo Power</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Xtreme Freedom</p>
                  </div>
                </div>
              </div>
              <button id="btn6-det">More Detail</button>
            </div>
          </div>

          <!-- 2======================== -->
          <div class="col6 col6end" style="display: none" id="magento-content">
            <div class="head6">
              <p class="head6-con">
                The Best Managed Cloud <br />
                Hosting for Magento
              </p>
            </div>
            <div class="center6">
              <p>
                We live and breathe Magento. Our managed hosting for Magento and
                <br />
                WooCommerce takes away cloud server related hassles so you can
                scale your <br />
                website the way you want.
              </p>
            </div>
            <div class="end">
              <div class="row66">
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Unlimited Bandwidth</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Network Speed</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Turbo Power</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Xtreme Freedom</p>
                  </div>
                </div>
              </div>
              <button id="btn6-det">More Detail</button>
            </div>
          </div>

          <!-- 3============================ -->
          <div class="col6 col6end" style="display: none" id="laravel-content">
            <div class="head6">
              <p class="head6-con">
                The Best Managed Cloud <br />
                Hosting for Laravel
              </p>
            </div>
            <div class="center6">
              <p>
                We live and breathe Laravel. Our managed hosting for Laravel and
                <br />
                WooCommerce takes away cloud server related hassles so you can
                scale your <br />
                website the way you want.
              </p>
            </div>
            <div class="end">
              <div class="row66">
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Unlimited Bandwidth</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Network Speed</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Turbo Power</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Xtreme Freedom</p>
                  </div>
                </div>
              </div>
              <button id="btn6-det">More Detail</button>
            </div>
          </div>
          <!-- 4 =========================== -->
          <div class="col6 col6end" style="display: none" id="php-content">
            <div class="head6">
              <p class="head6-con">
                The Best Managed Cloud <br />
                Hosting for PHP
              </p>
            </div>
            <div class="center6">
              <p>
                We live and breathe PHP. Our managed hosting for PHP and <br />
                WooCommerce takes away cloud server related hassles so you can
                scale your <br />
                website the way you want.
              </p>
            </div>
            <div class="end">
              <div class="row66">
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Unlimited Bandwidth</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Network Speed</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Turbo Power</p>
                  </div>
                </div>
                <div class="col66">
                  <div class="col661">
                    <img src="/img_videos/frame2/Vector.png" alt="" />
                    <p>Xtreme Freedom</p>
                  </div>
                </div>
              </div>
              <button id="btn6-det">More Detail</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ------------ section 7 ---------- -->
    <section class="section7">
      <div class="container7">
        <div class="row71">
          <div class="col71">
            <p>
              How Our Customers <br />
              Feel About Us
            </p>
          </div>
          <div class="col71">
            <div class="img7777">
              <img
                src="/img_videos/frame2/arrow-left .png"
                alt=""
                id="left-arrow"
              />
              <img
                src="/img_videos/frame2/arrow-right.png"
                alt=""
                id="right-arrow"
              />
            </div>
          </div>
        </div>
        <div class="row72" id="slider">
          <!-- 1st------ -->
          <div class="col72">
            <div class="all-con7">
              <div class="part721">
                <div class="icon7">
                  <img src="/img_videos/frame2/profile.png" alt="" />
                </div>
                <div class="content722">
                  <div class="flex7">
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                  </div>
                  <p>
                    <i
                      >Thanks to the Awan Hoster, I was guided step-by-step
                      until it was finished</i
                    >
                  </p>
                  <b class="guy">Guy Hawkins</b>
                  <p class="manager">Manager</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 2nd--------- -->
          <div class="col72">
            <div class="all-con7">
              <div class="part721">
                <div class="icon7">
                  <img src="/img_videos/frame2/profile.png" alt="" />
                </div>
                <div class="content722">
                  <div class="flex7">
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                  </div>
                  <p>
                    <i
                      >Thanks to the Awan Hoster, I was guided step-by-step
                      until it was finished</i
                    >
                  </p>
                  <b class="guy">Guy Hawkins</b>
                  <p class="manager">Manager</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 3nd--------- -->
          <div class="col72">
            <div class="all-con7">
              <div class="part721">
                <div class="icon7">
                  <img src="/img_videos/frame2/profile.png" alt="" />
                </div>
                <div class="content722">
                  <div class="flex7">
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                  </div>
                  <p>
                    <i
                      >Thanks to the Awan Hoster, I was guided step-by-step
                      until it was finished</i
                    >
                  </p>
                  <b class="guy">Guy Hawkins</b>
                  <p class="manager">Manager</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 4nd--------- -->
          <div class="col72">
            <div class="all-con7">
              <div class="part721">
                <div class="icon7">
                  <img src="/img_videos/frame2/profile.png" alt="" />
                </div>
                <div class="content722">
                  <div class="flex7">
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                  </div>
                  <p>
                    <i
                      >Thanks to the Awan Hoster, I was guided step-by-step
                      until it was finished</i
                    >
                  </p>
                  <b class="guy">Guy Hawkins</b>
                  <p class="manager">Manager</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 5nd--------- -->
          <div class="col72">
            <div class="all-con7">
              <div class="part721">
                <div class="icon7">
                  <img src="/img_videos/frame2/profile.png" alt="" />
                </div>
                <div class="content722">
                  <div class="flex7">
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                  </div>
                  <p>
                    <i
                      >Thanks to the Awan Hoster, I was guided step-by-step
                      until it was finished</i
                    >
                  </p>
                  <b class="guy">Guy Hawkins</b>
                  <p class="manager">Manager</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 6nd--------- -->
          <div class="col72">
            <div class="all-con7">
              <div class="part721">
                <div class="icon7">
                  <img src="/img_videos/frame2/profile.png" alt="" />
                </div>
                <div class="content722">
                  <div class="flex7">
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                  </div>
                  <p>
                    <i
                      >Thanks to the Awan Hoster, I was guided step-by-step
                      until it was finished</i
                    >
                  </p>
                  <b class="guy">Guy Hawkins</b>
                  <p class="manager">Manager</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 7nd--------- -->
          <div class="col72">
            <div class="all-con7">
              <div class="part721">
                <div class="icon7">
                  <img src="/img_videos/frame2/profile.png" alt="" />
                </div>
                <div class="content722">
                  <div class="flex7">
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                  </div>
                  <p>
                    <i
                      >Thanks to the Awan Hoster, I was guided step-by-step
                      until it was finished</i
                    >
                  </p>
                  <b class="guy">Guy Hawkins</b>
                  <p class="manager">Manager</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 8nd--------- -->
          <div class="col72">
            <div class="all-con7">
              <div class="part721">
                <div class="icon7">
                  <img src="/img_videos/frame2/profile.png" alt="" />
                </div>
                <div class="content722">
                  <div class="flex7">
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                  </div>
                  <p>
                    <i
                      >Thanks to the Awan Hoster, I was guided step-by-step
                      until it was finished</i
                    >
                  </p>
                  <b class="guy">Guy Hawkins</b>
                  <p class="manager">Manager</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 9nd--------- -->
          <div class="col72">
            <div class="all-con7">
              <div class="part721">
                <div class="icon7">
                  <img src="/img_videos/frame2/profile.png" alt="" />
                </div>
                <div class="content722">
                  <div class="flex7">
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                  </div>
                  <p>
                    <i
                      >Thanks to the Awan Hoster, I was guided step-by-step
                      until it was finished</i
                    >
                  </p>
                  <b class="guy">Guy Hawkins</b>
                  <p class="manager">Manager</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 10nd--------- -->
          <div class="col72">
            <div class="all-con7">
              <div class="part721">
                <div class="icon7">
                  <img src="/img_videos/frame2/profile.png" alt="" />
                </div>
                <div class="content722">
                  <div class="flex7">
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                    <img src="/img_videos/frame2/Star 2.png" alt="" />
                  </div>
                  <p>
                    <i
                      >Thanks to the Awan Hoster, I was guided step-by-step
                      until it was finished</i
                    >
                  </p>
                  <b class="guy">Guy Hawkins</b>
                  <p class="manager">Manager</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end--------- -->
        </div>
      </div>
    </section>
    <!-- ----------- section 8 ---------- -->
    <section class="section8">
      <div class="container8">
        <div class="row8">
          <div class="col8 content81">
            <div class="head8">
              <p>
                Try it Now and Stop <br />
                Doubting Anything <br />Else
              </p>
            </div>
            <div class="center8">
              <p>
                With Awan Hoster's Money Back Guarantee, you can try the best
                service reliability
              </p>
            </div>
            <div class="end8">
              <button class="btn81">Start Free Trial</button>
              <button class="btn82">See All Plans</button>
            </div>
          </div>
          <div class="col8">
            <div class="icon8">
              <img src="/img_videos/frame2/Group 1000008788.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ---------- footer -------- -->
    <footer>
      <div class="container9">
        <div class="row9">
          <div class="col9">
            <div class="icon81">
              <img src="/img_videos/frame2/logo-white.png" alt="" />
            </div>
            <div class="content8">
              <p class="con9">
                We provide you with the best hosting <br />solutions for your
                website.
              </p>
            </div>
            <div class="icons8">
              <i class="bi bi-facebook"></i>
              <i class="bi bi-twitter"></i>
              <i class="bi bi-instagram"></i>
              <i class="bi bi-youtube"></i>
              <i class="bi bi-discord"></i>
            </div>
          </div>
          <div class="col9">
            <div class="row99">
              <div class="col99">
                <b>Company</b>
                <p>About</p>
                <p>Blog</p>
                <p>Leadership</p>
                <p>Careers</p>
                <p>Legal</p>
              </div>

              <div class="col99">
                <b>Products</b>
                <p>API</p>
                <p>Pricing</p>
                <p>Documentation</p>
                <p>Release Notes</p>
              </div>

              <div class="col99">
                <b>Contact</b>
                <p>Support</p>
                <p>Sales</p>
                <p>Report Abuse</p>
                <p>System Status</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/app2.js"></script>
  </body>
</html>
