<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List</title>
    <link rel="stylesheet" href="/css/todo.css" />
  </head>
  <body>
    <div class="main">
      <p id="msg">&#128221; To Do List &#128221;</p>
      <input type="text" class="input" />
      <button id="btn">+</button>
      <div class="row">
        <ul class="ul"></ul>
      </div>
    </div>

    <script src="/js/todo.js"></script>
  </body>
</html>
